<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Авторы</title>
<script type="text/javascript">
	function clearSearch() {
		window.location = "[[@{/api/author/}]]";
	}
</script>
</head>
<body>
	<div sec:authorize="isAuthenticated()">
		<table id="header">
			<tr>
				<td><a href="/">Главная</a></td>
				<td><b>Авторы</b></td>
				<td><a href="/api/book">Книги</a></td>
				<td><a href="/api/reader">Читатели</a></td>
				<td><a href="/api/country">Страны</a></td>
				<td>Добро пожаловать, <span sec:authentication="name"></span>!
				</td>
				<td><a href="/logout">Выйти</a></td>
			</tr>
		</table>
	</div>
	<div id="name" th:switch="${keyword}">
		<h2 th:case=null>Авторы - главная страница</h2>
		<h2 th:case="*">
			Авторы - поиск по запросу "<th:block th:text="${keyword}"/>"
		</h2>
	</div>
	<div>
		<form th:action="@{/api/author/search}">
			<label for="name">Введите запрос: </label> <input type="text"
				name="keyword" id="keyword" th:value="${keyword}" required /> <input
				type="submit" value="Поиск" /> <input type="button"
				value="Очистить" id="btnClear" onclick="clearSearch()" />
		</form>
		<a th:href="@{/api/author/create}" th:text="Создать">author</a> <br />
		<br />
		<table border=1>
			<tr>
				<td>ID</td>
				<td>ФИО автора</td>
			</tr>
			<tr th:each="author : ${resultPage}">
				<td><p th:text="${author.getId()}" /></td>
				<td><a
					th:href="@{/api/author/{id}?fromPage={page}(id=${author.getId()}, page=${currentPage})}"
					th:text="${author.getFullName()}"></a></td>
			</tr>
		</table>
		<table>
			<tr>
				<td th:each="page : ${pages}"><th:block
						th:if="${page} != ${currentPage}">
						<a th:href="@{/api/author?page={page}(page=${page})}"
							th:text="${page}"></a>
					</th:block> <th:block th:if="${page} == ${currentPage}">
						<p th:href="@{/api/author?page={page}(page=${page})}"
							th:text="${page}" />
					</th:block></td>
			</tr>
		</table>

		<form th:method="GET" th:action="@{/api/author}">
			<input type="text" name="page" /> <input type="submit" value="Go" />
		</form>
	</div>
</body>
</html>