<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title th:text="${author.getFullName()}"></title>
</head>
<body>
	<div sec:authorize="isAuthenticated()">
		<table id="header">
			<tr>
				<td><a href="/">Главная</a></td>
				<td><b>Авторы</b></td>
				<td><a href="/api/book">Книги</a></td>
				<td><a href="/api/reader">Читатели</a></td>
				<td><a href="/api/country">Страны</a></td>
				<td>Добро пожаловать, <span sec:authentication="name"></span>!
				</td>
				<td><a href="/logout">Выйти</a></td>
			</tr>
		</table>
	</div>
	<div>
		<b><a href="/api/author">Список авторов</a> -> Автор "<th:block th:text="${author.getFullName()}"/>"</b>
		<h2>Автор <th:block th:text="${author.getFullName()}"/></h2>
		<table border=1>
			<tr>
				<td>ID автора</td>
				<td>ФИО автора</td>
				<td>Страна рождения</td>
				<td>Дата рождения</td>
				<td>Дата смерти</td>
				<td></td>
			</tr>
			<tr>
				<td><p th:text="${author.getId()}" /></td>
				<td><p th:text="${author.getFullName()}" /></td>
				<td><a
					th:href="@{/api/country/{id}(id=${author.getBirthCountry().getId()})}"
					th:text="${author.getBirthCountry().getName()}">Ссылка на
						страну</a></td>
				<td><p th:text="${#temporals.format(author.getBirthday(), 'dd MMMM yyyy')}" /></td>
				<td><p th:text="${#temporals.format(author.getDeathDate(), 'dd MMMM yyyy')}" /></td>
				<td><a th:href="@{/api/author/{id}/books(id=${author.getId()})}">Книги, написанные автором</a></td>
			</tr>
		</table>
		<form sec:authorize="hasRole('ROLE_ADMIN')" th:method="POST"
			th:action="@{/api/author/{id}/delete/confirm(id=${author.getId()})}">
			<input type="submit" value="Удалить" />
		</form>

		<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/api/author/{id}/edit(id=${author.getId()})}">Редактировать</a>

		<input type="button" value="Назад" onclick="history.back()">
	</div>
</body>
</html>