<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Удалить <th:block th:text="${book.getName()}">?</title>
</head>
<body>
	<div sec:authorize="isAuthenticated()">
		<table id="header">
			<tr>
				<td><a href="/">Главная</a></td>
				<td><a href="/api/author">Авторы</a></td>
				<td><a href="/api/book">Книги</a></td>
				<td><a href="/api/reader">Читатели</a></td>
				<td><b>Страны</b></td>
				<td>Добро пожаловать, <span sec:authentication="name"></span>!
				</td>
				<td><a href="/logout">Выйти</a></td>
			</tr>
		</table>
	</div>
	<div>
		<b><a href="/api/book">Список книг</a> -> <a th:href="@{/api/book/{id}(id = ${book.getId()})}">Книга "<th:block th:text="${book.getName()}"/>"</a> -> Удалить</b>
		<h3>Вы уверены что хотите удалить эту книгу?</h3>

		<table border=1>
			<tr>
				<td>ID книги</td>
				<td>Название книги</td>
				<td>ФИО автора книги</td>
				<td>Дата выхода книги</td>
				<td>Количество книг в библиотеке</td>
			</tr>
			<tr>
				<td><p th:text="${book.getId()}" /></td>
				<td><p th:text="${book.getName()}" /></td>
				<td><p th:text="${book.getAuthor().getFullName()}"/></td>
				<td><p th:text="${#temporals.format(book.getReleaseDate(), 'dd MMMM yyyy')}" /></td>
				<td><p th:text="${book.getInStock}" /></td>
			</tr>
		</table>

		<form th:method="DELETE"
			th:action="@{/api/book/{id}/delete(id=${book.getId()})}">
			<input type="submit" value="Удалить" />
		</form>

		<input type="button" value="Назад" onclick="history.back()">
	</div>
</body>
</html>