<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Создать автора</title>
</head>
<body>

<form th:method="POST" th:action="@{/api/book/new}" th:object="${book}">
	<table>
		<tr>
			<td>Введите название</td>
			<td><input type="text" th:field="*{name}" id="name"/></td>
		</tr>
		<tr>
			<td>Введите ФИО автора</td>
			<td><input type="text" th:field="*{authorName}" id="authorName"/></td>
		</tr>
		<tr>
			<td>Дата выпуска книги</td>
			<td><input type="text" th:field="*{releaseDate}" id="releaseDate" placeholder="ДД.ММ.ГГГГ"/></td>
		</tr>
		<tr>
			<td>Количество на складе</td>
			<td><input type="text" th:field="*{inStock}" id="inStock"/></td>
		</tr>
	</table>
    <input type="submit" value="Создать"/>
</form>
<a th:href="@{/api/book/index}">Назад</a>

</body>
</html>