<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Дать книгу читателю</title>
</head>
<body>
	<div sec:authorize="isAuthenticated()">
		<table id="header">
			<tr>
				<td><a href="/">Главная</a></td>
				<td><a href="/api/author">Авторы</a></td>
				<td><b>Книги</b></td>
				<td><a href="/api/reader">Читатели</a></td>
				<td><a href="/api/country">Страны</a></td>
				<td>Добро пожаловать, <span sec:authentication="name"></span>!
				</td>
				<td><a href="/logout">Выйти</a></td>
			</tr>
		</table>
	</div>
	<div>
		<b><a href="/api/book">Список книг</a> -> <a th:href="@{/api/book/{id}(id = ${book.getId()})}">Книга "<th:block th:text="${book.getName()}"/>"</a> -> Дать книгу</b>
		<form th:method="POST"
			th:action="@{/api/book/{bookId}/giveTo(bookId=${bookId})}"
			th:object="${reader}">
			Введите ID читателя: <input type="text" list="readers"
				th:field="*{id}" autocomplete="off" />
			<datalist id="readers">
				<option th:each="reader : ${readerList}"
					th:value="${reader.getId()}" th:label="${reader.getFullName()}">
			</datalist>
			<input type="submit" value="Отдать" />
		</form>
		<input type="button" value="Назад" onclick="history.back()">
	</div>
</body>
</html>