<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Книги</title>
<script type="text/javascript">
	function clearSearch() {
		window.location = "[[@{/api/book/}]]";
	}
</script>
</head>
<body>
	<div sec:authorize="isAuthenticated()">
		<table id="header">
			<tr>
				<td><a href="/">Главная</a></td>
				<td><a href="/api/author">Авторы</a></td>
				<td><b>Книги</b></td>
				<td><a href="/api/reader">Читатели</a></td>
				<td><a href="/api/country">Страны</a></td>
				<td>Добро пожаловать, <span sec:authentication="name"></span>!
				</td>
				<td><a href="/logout">Выйти</a></td>
			</tr>
		</table>
	</div>
	<div>
		<div id="name" th:switch="${keyword}">
			<h2 th:case=null>Книги - главная страница</h2>
			<h2 th:case="*">
				Книги - поиск по запросу "<th:block th:text="${keyword}"/>"
			</h2>
		</div>
		<form th:action="@{/api/book/search}">
			<label for="name">Введите запрос: </label> <input type="text"
				name="keyword" id="keyword" th:value="${keyword}" required /> <input
				type="submit" value="Поиск" /> <input type="button"
				value="Очистить" id="btnClear" onclick="clearSearch()" />
		</form>
		<form th:method="POST" th:action="@{/api/book/get}">
			Введите ID книги: <input type="text" name="id"/> <input type="submit"
				value="Открыть" />
		</form>
		<a th:href="@{/api/book/create}" th:text="Создать">book</a> <br /> <br />
		<table border=1>
			<tr>
				<td>ID</td>
				<td>Название книги</td>
				<td>ФИО автора</td>
			</tr>
			<tr th:each="book : ${resultPage}">
				<td><p th:text="${book.getId()}" /></td>
				<td><a
					th:href="@{/api/book/{id}?fromPage={page}(id=${book.getId()}, page=${currentPage})}"
					th:text="${book.getName()}"></a></td>
				<td><a
					th:href="@{/api/author/{id}(id=${book.getAuthor().getId()})}"
					th:text="${book.getAuthor().getFullName()}"></a></td>
			</tr>
		</table>

		<table>
			<tr>
				<td th:each="page : ${pages}"><th:block
						th:if="${page} != ${currentPage}">
						<a th:href="@{/api/book?page={page}(page=${page})}"
							th:text="${page}"></a>
					</th:block> <th:block th:if="${page} == ${currentPage}">
						<p th:href="@{/api/book?page={page}(page=${page})}"
							th:text="${page}" />
					</th:block></td>
			</tr>
		</table>

		<form th:method="GET" th:action="@{/api/book}">
			<input type="text" name="page" /> <input type="submit" value="Go" />
		</form>
	</div>
</body>
</html>