<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Изменить</title>
</head>
<body>
	<div sec:authorize="isAuthenticated()">
		<table id="header">
			<tr>
				<td><a href="/">Главная</a></td>
				<td><a href="/api/author">Авторы</a></td>
				<td><a href="/api/book">Книги</a></td>
				<td><b>Читатели</b></td>
				<td><a href="/api/country">Страны</a></td>
				<td>Добро пожаловать, <span sec:authentication="name"></span>!
				</td>
				<td><a href="/logout">Выйти</a></td>
			</tr>
		</table>
	</div>
	<div>
		<b><a href="/api/reader">Список читателей</a> -> <a
			th:href="@{/api/reader/{id}(id = ${reader.getId()})}">Читатель "<th:block
					th:text="${reader.getFullName()}" />"
		</a> -> Редактировать</b>
		<form th:method="POST"
			th:action="@{/api/reader/{id}/update(id=${reader.getId()})}"
			th:object="${reader}">
			<label for="name">Введите имя: </label> <input type="text"
				th:field="*{fullName}" id="fullName" value="${reader.getFullName()}" required/>
			<label for="name">Введите задолженность: </label> <input type="text"
				th:field="*{debt}" id="debt" value="${reader.getDebt()}" required/> <br />
			<input type="submit" value="Обновить" />
		</form>

		<a th:href="@{/api/reader/{id}(id=${reader.getId()})}"
			th:text="Отменить">Отменить</a>
	</div>
</body>
</html>