<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Страны</title>
</head>
<body>

<form th:method="POST" th:action="@{/api/country/get}" >
	Введите ID:
    <input type="text" name="id"/>
    <input type="submit" value="Открыть"/>
</form>
<a th:href="@{/api/country/create}" th:text="Создать">country</a>
<br/>
<br/>
<table border=1>
	<tr th:each="country : ${resultPage}">
		<td><p th:text="${country.getId()}"/></td>
		<td><a th:href="@{/api/country/{id}?fromPage={page}(id=${country.getId()}, page=${currentPage})}"
    			th:text="${country.getName()}"></a></td>
	</tr>
</table>

<table>
	<tr>
		<td th:each="page : ${pages}">
		<th:block th:if="${page} != ${currentPage}">
			<a th:href="@{/api/country/index/?page={page}(page=${page})}" th:text="${page}"></a>
		</th:block>
		<th:block th:if="${page} == ${currentPage}">
			<p th:href="@{/api/country/index/?page={page}(page=${page})}" th:text="${page}"/>
		</th:block></td>	
	</tr>

</table>

</body>
</html>