<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Страны</title>
<script type="text/javascript">
	function clearSearch() {
		window.location = "[[@{/api/country/}]]";
	}
</script>
</head>
<body>
	<div sec:authorize="isAuthenticated()">
		<table id="header">
			<tr>
				<td><a href="/">Главная</a></td>
				<td><a href="/api/author">Авторы</a></td>
				<td><a href="/api/book">Книги</a></td>
				<td><a href="/api/reader">Читатели</a></td>
				<td><b>Страны</b></td>
				<td>Добро пожаловать, <span sec:authentication="name"></span>!
				</td>
				<td><a href="/logout">Выйти</a></td>
			</tr>
		</table>
	</div>
	<div id="name" th:switch="${keyword}">
		<h2 th:case=null>Страны - главная страница</h2>
		<h2 th:case="*">
			Страны - поиск по запросу "
			<th:block th:text="${keyword}" />
			"
		</h2>
	</div>
	<div>
		<form th:action="@{/api/country/search}">
			<label for="name">Введите запрос: </label> <input type="text"
				name="keyword" id="keyword" th:value="${keyword}" required /> <input
				type="submit" value="Поиск" /> <input type="button"
				value="Очистить" id="btnClear" onclick="clearSearch()" />
		</form>
		<a th:href="@{/api/country/create}" th:text="Создать">country</a> <br />
		<br />
		<table border=1>
			<tr>
				<td>ID</td>
				<td>Название страны</td>
				<td></td>
			</tr>
			<tr th:each="country : ${resultPage}">
				<td><p th:text="${country.getId()}" /></td>
				<td><a
					th:href="@{/api/country/{id}?fromPage={page}(id=${country.getId()}, page=${currentPage})}"
					th:text="${country.getName()}"></a></td>
				<td><a
					th:href="@{/api/country/{id}/authors(id=${country.getId()})}">Авторы,
						родившиеся здесь</a></td>
			</tr>
		</table>

		<table>
			<tr>
				<td th:each="page : ${pages}"><th:block
						th:if="${page} != ${currentPage}">
						<a th:href="@{/api/country?page={page}(page=${page})}"
							th:text="${page}"></a>
					</th:block> <th:block th:if="${page} == ${currentPage}">
						<p th:href="@{/api/country?page={page}(page=${page})}"
							th:text="${page}" />
					</th:block></td>
			</tr>

		</table>

		<form th:method="GET" th:action="@{/api/country}">
			<input type="text" name="page" /> <input type="submit" value="Go" />
		</form>
	</div>
</body>
</html>