<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title th:text="${country.getName()}"></title>
</head>
<body>
	<div sec:authorize="isAuthenticated()">
		<table id="header">
			<tr>
				<td><a href="/">Главная</a></td>
				<td><a href="/api/author">Авторы</a></td>
				<td><a href="/api/book">Книги</a></td>
				<td><a href="/api/reader">Читатели</a></td>
				<td><b>Страны</b></td>
				<td>Добро пожаловать, <span sec:authentication="name"></span>!
				</td>
				<td><a href="/logout">Выйти</a></td>
			</tr>
		</table>
	</div>
	<div>
		<b><a href="/api/country">Список стран</a> -> Страна "<th:block th:text="${country.getName()}"/>"</b>
		<br/>
		<table border=1>
			<tr>
				<td>ID страны рождения</td>
				<td>Название страны</td>
				<td></td>
			</tr>
			<tr>
				<td><p th:text="${country.getId()}" /></td>
				<td><p th:text="${country.getName()}" /></td>
				<td><a th:href="@{/api/country/{id}/authors(id=${country.getId()})}">Авторы, родившиеся здесь</a></td>
			</tr>
		</table>


		<form sec:authorize="hasRole('ROLE_ADMIN')" th:method="POST"
			th:action="@{/api/country/{id}/delete/confirm(id=${country.getId()})}">
			<input type="submit" value="Удалить" />
		</form>

		<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/api/country/{id}/edit(id=${country.getId()})}">Редактировать</a>

		<input type="button" value="Назад" onclick="history.back()">
	</div>
</body>
</html>